.flashcard {
  perspective: 900px;
}
.flashcard-inner {
  transition: transform 0.7s cubic-bezier(.65,.57,.13,.99);
  transform-style: preserve-3d;
}
.flashcard-inner.flipped {
  transform: rotateY(180deg);
}
.flashcard-front, .flashcard-back {
  backface-visibility: hidden;
}
.flashcard-back {
  transform: rotateY(180deg);
}
